.form-container {
    margin: 0.75rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-label {
    color: #fdf4f4;
    margin-right: 2rem;
}
.form-dropdown {
    display: inline-block;
    width: 20rem;
}
@media screen and (max-width: 480px) {
    .form-dropdown {
        display: inline-block;
        width: 100%;
    }
    .form-label {
        margin-right: 0;
    }
}
